In [5]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [9]:
#URL = "https://www.worldometers.info/coronavirus/#countries"
html_page = requests.get("https://www.worldometers.info/coronavirus/#countries").text
soup = BeautifulSoup(html_page,'lxml')

In [10]:
get_table = soup.find("table",id="main_table_countries_today")

In [42]:
dic = {}
for i in range(len(get_table_data)):
  try:
     key = get_table_data[i].find_all("a",href=True)[0].string 
     #print(key)
  except:
     key = get_table_data[i].find_all("td")[0].string
    # print(key)   
values = [j.string for j in get_table_data[i].find_all('td')]
column_names =["Total Cases","New Cases","Total Deaths","New Deaths","Total Recovered","Active","Serious Critical","Tot cases/1M pop","Tot Deaths/1M pop"]
dic[key] = values
pd.DataFrame(dic).iloc[1:,:].T

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
China,China,"83,565",+8,"4,634",None,"78,528",+10,403,6,58,3,"90,410,000","62,814","1,439,323,776",Asia,"17,224","310,601",16

In [46]:
df= pd.DataFrame(dic).iloc[1:,:].T.iloc[:,:9]
df.index_name = "country"
#print(df)

In [47]:
df.columns = column_names
df.head()

,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active,Serious Critical,Tot cases/1M pop,Tot Deaths/1M pop
China,China,"83,565",+8,"4,634",None,"78,528",+10,403,6